*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background: url(./background.jpg) center/cover;
    padding: 50px 5%;
}

.container{
    position: relative;
    height: 100%;
    background: rgba(255,255,255,.1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 3%;
    backdrop-filter: blur(30px);
    
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent ;
    transition: .5s;

}

.navbar a:hover {
    border-color: white;
}

.home{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: white;

}

.home-detail h1{
    font-size: 55px;
}

.home-detail h2{
    font-size: 32px;
}
.home-detail p{
    margin: 10px 0 20px;
    font-size: 24px;
}




.download{
    display: flex;
    align-items: center;
    font-weight: 600;
    
}

.button{
    text-decoration: none;
    background: white;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid ;
    transition: .5s;
}

.button:hover{
    background: transparent;
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

}
.icons{
    margin-left: 20px;
}

.icons a{
    display: inline-flex;
    padding: 8px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    margin: 0 8px;
    transition: all 0.3s ease-in-out;
    
}

.icons a:hover{
    background: white;
    color: black;
    transform: scale(1.3);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    

}

.img-box{
    position: relative;
    width: 28vw;
    height: 28vw;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 20px white;
    overflow: hidden;
}

img {
    margin-left: 10px;
    width: 100%;
}

#second{
    margin-top: 30px;
    position: relative;
    height: 100%;
    background: rgba(255,255,255,.1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 3%;
    backdrop-filter: blur(30px);
}

.skill{
    margin-left: 650px;
    justify-content: center;
    height: 100%;
    padding: 50px 5% 0;
    color: white;
}

.title{
    margin-top: 100px;
    font-size: 50px;
}

.head{
    font-size: px;
}

.head li{
   margin-top: 8px;
}

#third{
    margin-top: 30px;
    position: relative;
    height: 100%;
    background: rgba(255,255,255,.1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 3%;
    backdrop-filter: blur(30px);
}

.ar{
    font-size: 24px;
}

#fourth{
    margin-top: 30px;
    position: relative;
    height: 100%;
    background: rgba(255,255,255,.1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 3%;
    backdrop-filter: blur(30px);
}

.title .ri-github-fill{
    color: white;
}

#fifth{
    margin-top: 30px;
    position: relative;
    height: 100%;
    background: rgba(255,255,255,.1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 3%;
    backdrop-filter: blur(30px);
}

.head p {
    font-size: 25px;
}

.last{
    align-items: start;
    font-size: 30px;
}

#last{
    margin-top: 30px;
    position: relative;
    height: 50%;
    background: rgba(255,255,255,.1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 3%;
    backdrop-filter: blur(30px);
}

.lt{
    color: white;
    margin-left: 100px;
}